
CSharp_course/Class_system/obj/rider.project.model.nuget.info

CSharp_course/Coffeemachine/obj/Debug/net9.0/Coffeemachine.AssemblyInfo.cs

CSharp_course/Coffeemachine/obj/Debug/net9.0/Coffeemachine.AssemblyInfoInputs.cache

CSharp_course/Coffeemachine/obj/rider.project.model.nuget.info

CSharp_course/CSharp_course/obj/Debug/net9.0/CSharp_course.AssemblyInfo.cs

CSharp_course/CSharp_course/obj/Debug/net9.0/CSharp_course.AssemblyInfoInputs.cache

CSharp_course/CSharp_course/obj/rider.project.model.nuget.info
